/* Блочная структура */
#profiles_show .l-page {
    padding-left: 0;
    padding-right: 0;
    background: transparent;

}

#profiles_show .block {
    border: 1px solid var(--color-border);
    border-radius: 4px;
    padding: 10px;
    background: var(--color-background);
}

.p-profiles-show.x1200 .profile-content .c-left {
    margin-right: 20px;
    width: calc(77% - 20px);
}

.p-profiles-show.x1200 .profile-content .c-right {
    width: 23%;
}
.p-profiles-show.x1200 .profile-content .c-right .cc-2a>.c-column {
    margin-right: 0;
    width: 100%;
}

.p-profiles-show.x1200 .profile-content .c-right>.block:last-child, .p-profiles-show.x1200 .profile-content .c-right>.subcontent:last-child {
    margin-bottom: 0;
    display: none;
}

.p-profiles .profile-head .c-info {
    overflow: hidden;
    width: calc(77% - 20px);
    background: var(--color-background);
    margin-bottom: 20px;
    border: 1px solid var(--color-border);
    border-radius: 4px;
    padding: 10px;
    height: 165px;
}

.p-profiles .profile-head .c-history.x3 {
    background: var(--color-background);
    margin-bottom: 20px;
    border: 1px solid var(--color-border);
    border-radius: 4px;
    padding: 10px;
    width: 23%;
    margin-left: 20px;
    margin-top: 131px;
    padding-bottom: 8px;
}

.p-profiles .profile-head .c-brief .avatar {
    margin: 0px 20px 20px 0;
    margin-bottom: 20px;
    border-radius: 4px;
    max-width: 182px;
    height: 209px;
}

.c-brief .avatar img {
    border: 1px solid var(--color-border);
    border-radius: 4px;
}

.p-profiles .profile-head .c-brief .avatar .profile-actions {
    text-align: center;
    background: var(--color-background);
    padding: 10px;
    padding-top: 27px;
    margin-top: 0;
    position: relative;
    top: -20px;
    z-index: -1;
    border: 1px solid var(--color-border);
    border-radius: 4px;
}

.p-profiles .profile-head .c-brief header {
    overflow: visible;
    float: left;
    white-space: nowrap;
    background: var(--color-background);
    border: 1px solid var(--color-border);
    border-radius: 4px;
    padding: 10px;
    width: calc(77% - 202px);
    height: 80px;
    margin-left: 182px;
    margin-top: -98px;
    margin-bottom: 0px;
}
/* Блочная структура */
